.select-num {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.select-num input {
    width: 40px;
    background: rgb(6, 33, 0);
    color: #cecece;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 5px;
    text-align: center;
}

.select-img {
    height: 60px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.select-img:last-child {
    height: 30px;
}

.select-img img {
    border: 5px solid transparent;
    object-fit: cover;
    object-position: top;
    width: 42px;
}

.select-img img.selected {
    background: rgb(6, 33, 0);
    border: 5px solid rgb(6, 33, 0);
}